 <div className="mt-10 space-y-10">
    <fieldset>
      <legend className="text-sm font-semibold leading-6 text-gray-900">Pending</legend>
      <div className="divide-y divide-gray-200">
        {{ with .Todos }}
          {{ range . }}
            <div className="relative flex items-start pb-4 pt-3.5">
              <div className="min-w-0 flex-1 text-sm leading-6">
                <label htmlFor="comments" className="font-medium text-gray-900">
                  {{ . }}
                </label>
              </div>
              <div className="ml-3 flex h-6 items-center">
                <input
                  aria-describedby="comments-description"
                  name="todo"
                  type="checkbox"
                  className="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600"
                />
              </div>
            </div>
          {{ end }} 
        {{ end }}
      </div>
  </fieldset>
</div>
